#HomeBody {
  padding: 30px;
}

.StatusIcon {
  margin-right: 20px;
}

.CallUrl {
  display: inline-block;
  max-width: 700px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.errorRow {
  color: red;
}
