body {
  padding: 100px 0 0px 0;
  background-color: #f3f2f1;
}

#root,
#HeaderInner {
  min-width: 920px;
}
#main {
  margin: 0 6%;
  padding-bottom: 40px;
}

.PageBody {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  min-height: 180px;

  /* shadow */
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

/* footer */
body,
#root,
#app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}

#Footer {
  margin-top: auto;
  border-top: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 0.8em;
}

/* misc */
.break {
  display: block;
  clear: both;
}

h2 {
  margin: 20px 0;
}
