#Header {
  background-color: #f3f2f1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ddd;

  /* shadow */
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.025);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.025);
}

#Header h1 {
  margin: 0;
  padding: 0;
}

#Header h1 img {
  display: inline-block;
  height: 70px;
  width: 70px;
  padding: 10px;
}

#Header h1 span {
  padding-left: 15px;
  font-weight: bold;
  position: relative;
  top: 3px;
}

#Header h1 a {
  color: black;
}
#Header h1 a:hover {
  text-decoration: underline;
}

#Header .profile {
  text-align: right;
  padding: 10px;
}

#Header .profile .ant-avatar {
  float: right;
}

#Header .profile .profileDetails {
  display: inline-block;
  padding: 8px 12px;
  font-size: 0.8em;
}
